Testing/TestWebPage/Service References/LabelGenService/LabelGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LabelGenerator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nightadder/labelPrint/LabelGenerator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nightadder/labelPrint/LabelGenerator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nightadder/labelPrint/LabelGenerator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" />
      <xsd:import schemaLocation="http://nightadder/labelPrint/LabelGenerator.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILabelGenerator_AddPrintJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrintJob" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddPrintJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrintJobResponse" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRow" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRowResponse" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRowFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRowFromDB" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRowFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRowFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRow2_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRow2" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_AddDataRow2_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataRow2Response" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_PrintLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintLabels" />
  </wsdl:message>
  <wsdl:message name="ILabelGenerator_PrintLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintLabelsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILabelGenerator">
    <wsdl:operation name="AddPrintJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ILabelGenerator/AddPrintJob" message="tns:ILabelGenerator_AddPrintJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILabelGenerator/AddPrintJobResponse" message="tns:ILabelGenerator_AddPrintJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataRow">
      <wsdl:input wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRow" message="tns:ILabelGenerator_AddDataRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRowResponse" message="tns:ILabelGenerator_AddDataRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataRowFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRowFromDB" message="tns:ILabelGenerator_AddDataRowFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRowFromDBResponse" message="tns:ILabelGenerator_AddDataRowFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataRow2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRow2" message="tns:ILabelGenerator_AddDataRow2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILabelGenerator/AddDataRow2Response" message="tns:ILabelGenerator_AddDataRow2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/ILabelGenerator/PrintLabels" message="tns:ILabelGenerator_PrintLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILabelGenerator/PrintLabelsResponse" message="tns:ILabelGenerator_PrintLabels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILabelGenerator" type="tns:ILabelGenerator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPrintJob">
      <soap:operation soapAction="http://tempuri.org/ILabelGenerator/AddPrintJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataRow">
      <soap:operation soapAction="http://tempuri.org/ILabelGenerator/AddDataRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataRowFromDB">
      <soap:operation soapAction="http://tempuri.org/ILabelGenerator/AddDataRowFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataRow2">
      <soap:operation soapAction="http://tempuri.org/ILabelGenerator/AddDataRow2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabels">
      <soap:operation soapAction="http://tempuri.org/ILabelGenerator/PrintLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabelGenerator">
    <wsdl:port name="BasicHttpBinding_ILabelGenerator" binding="tns:BasicHttpBinding_ILabelGenerator">
      <soap:address location="http://nightadder/labelPrint/LabelGenerator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>