Testing/TestWebPage/Service References/LocalService/LabelGenerator3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62270/LabelGenerator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" />
  <xs:import schemaLocation="http://localhost:62270/LabelGenerator.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Print">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" minOccurs="0" name="eArea" type="q1:PrinterArea" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" minOccurs="0" name="eLabelType" type="q2:LabelTypes" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sColumns" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="sTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nQty" type="xs:int" />
        <xs:element minOccurs="0" name="nStartPos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrintJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" minOccurs="0" name="eArea" type="q4:PrinterArea" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LabelGeneratorLib" minOccurs="0" name="eLabelType" type="q5:LabelTypes" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sColumns" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrintJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrintJobResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nJobNumber" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sData" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataRowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRowFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sSerials" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRowFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataRowFromDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRow2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nJobNumber" type="xs:int" />
        <xs:element minOccurs="0" name="sValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nQty" type="xs:int" />
        <xs:element minOccurs="0" name="nStart" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataRow2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDataRow2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintLabelsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>